*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 100%;
    font-family: sans-serif;
}

div, section, span, ul, li, a, header{
    box-sizing: border-box;
}

/*css reset*/

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    position: fixed;
    z-index: 999;
}

#menu li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#menu li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

section{
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
}

#home{
   background: linear-gradient(to left, #ffffff,rgba(247, 18, 18, 0.867));
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: x-large;
}

#about{
     background-color: #ff9292;
     image-resolution: 10px;
}

#product{
     background-color: #ff9292;
}

#pricing{
     background-color: #ff9292;
}

#contact{
     background-color: #ff9292;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
}







